beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
fake-useragent==2.2.0
filelock==3.18.0
idna==3.10
lxml==5.4.0
PySocks==1.7.1
requests==2.32.3
snscrape>=0.7.0.20230106
soupsieve==2.7
typing_extensions==4.13.2
urllib3==2.4.0
pandas>=1.5.0
certifi>=2023.7.22
