# Goal
Score how news worthy the following tweet is on a scale of 1 to 5.

# Scoring Logic
1 is just a random conversation a person is having with another person. If you can't tell the context of a tweet, you should also rate it a 1.
2 is a not very important story that will impact people in 1-4 years.
3 is a sort of important story that will impact people in 1-12 months.
4 is an important story that will impact people in 1-4 weeks.
5 is a very important story, usually something that will impact people in the very near term (1-7 days), like a major hack, bug, vulnerability or special occasion.

# Date context
Today is: {{today}}
Tomorrow is: {{tomorrow}}
Next week is: {{next_week}}
Next month is: {{next_month}}
Next year is: {{next_year}}

# Tweet info
{{tweet}}